body {
    background: #ffffff;
    overflow: hidden;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    color: #1e6fcb;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    height: auto;
    background-color: hsla(0, 0%, 100%, 0);
    width: 100%;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0 120px;
    width: 100%;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 72px;
    font-weight: bold;
}

.hero-1st {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: auto;
}

.object-containder {
    height: auto;
    width: auto;
    overflow: hidden;
}

.object {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.btn {
    background-color: #1e6fcb;
    border: none;
    color: white;
    width: 50%;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #3b689b;
    color: white;
    border-radius: 12px;
    transform: scale(1.05);
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.full-screen-container {
    height: 100dvh;
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}